# Force GitHub to recognize PHP as the main language
*.php linguist-language=PHP
*.blade.php linguist-language=PHP

# Ignore front-end template files from stats
/resources/** linguist-vendored
/public/** linguist-vendored
/node_modules/** linguist-vendored

# Normalize line endings
* text=auto eol=lf

# Syntax highlighting settings (optional)
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Exclude from GitHub source tarballs
/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
